@mixin divider {
    content: '';
    position: absolute;
    display: block;
    width: 895px;
    height: 0px;
    border: 1px solid #000000;
}

@mixin divider_before {
    &::before {
        @include divider;
        // z-index: -1;
        top: 50%;
        // left: auto; 
    }
}

@mixin divider_after {
    &::after {
        @include divider;
        margin-top: 20px;

    }
}