@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');
@import 'libs/bootstrap-reboot.min';


@import 'base/variables';
@import 'base/mixins';


* {
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
    ul{
        margin-bottom: 0;
    }
}
@import 'blocks/title';
@import 'blocks/promo';