@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .promo {
        &__wrapper {
            margin: 0 50px;
        }

    }

    .title {
        font-size: 18px;

        &_fz48 {
            font-size: 36px;
        }

        &_fz64 {
            font-size: 52px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .decor-element {
        display: none;
    }


    .promo {
        // max-width: 720px;

        padding: 100px 0;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        row-gap: 20px;

        // row-gap: 30px;
        &__wrapper {

            max-width: 600px;
            margin: 0 auto;
            order: 2;
        }

        &__img {
            position: relative;
            width: 600px;
            height: 600px;
            margin: auto;
        }

        &__img-wrapper {
            z-index: 2;
            height: 100%;
            width: calc(100% - 30px);
            height: 100%;
            position: relative;
            margin-left: 30px;
            @include side-box;

            &::before {
                z-index: 0;
            }

            img {
                display: block;
                position: relative;
                z-index: 3;

            }
        }

        nav {
            display: none;
        }

    }

    .about {
        margin-top: 100px;

        &__wrapper {
            margin-top: 100px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        &__education {
            order: 2
        }

        &__descr {
            width: calc(100% - 30px);
            margin-left: 30px;
        }

        &__header {
            width: 100%;
            text-align: center;
        }
    }

    .skills {
        margin-top: 100px;
        padding: 100px;

        &__wrapper {
            margin-top: 100px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 80px;
        }

        &__stiker {
            display: none;
        }
    }

    .reasons {
        margin-top: 100px;

        &__wrapper {
            margin-top: 100px;
        }

        &__img {
            img {
                width: 100px;
                height: 100px;
            }
        }

        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            row-gap: 80px;
        }
    }

    .works {
        margin-top: 100px;

        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            row-gap: 80px;
        }

        &__items {
            order: 2;
        }

        &__descr {
            order: 1;
        }
    }

    .contacts {
        margin-top: 100px;

        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            row-gap: 80px;
        }

        &__form {
            order: 2;
            width: calc(100% - 30px);
            margin-left: 30px;
        }

        &__descr {
            order: 1;
        }
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }

    .promo {
        &__img {
            width: 500px;
        }

        &__wrapper {
            max-width: 500px;
        }

        &__subtitle {
            display: none;
        }
    }

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .title {
        &_fz48 {
            font-size: 26px;
        }

    }

    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .promo {

        // padding: 50px 0;
        // row-gap: 5px;
        &__img {
            width: calc(100% - 80px);
            height: 100%;
        }
    }

    .about {
        margin-top: 50px;

        &__descr {
            padding: 15px;
        }
    }

    .skills {
        margin-top: 50px;
        padding: 50px;

        &__wrapper {
            margin-top: 50px;
        }

        &__items {
            grid-template-rows: repeat(4, auto);
            grid-template-columns: repeat(2, auto);
        }

        &__item {
            padding: 10px;

            .front {
                flex-direction: column;
            }


        }

        .horizonal_1row {
            grid-column: unset;
            order: 3;
            grid-row: 2/4;
        }

        .horizonal_2row {
            grid-column: unset;
            order: 2;
            grid-row: 1/3;
        }


    }

    .reasons {
        margin-top: 50px;

        &__descr {
            padding: 15px;
            padding-left: 100px;
        }
    }

    .works {
        &__items {
            justify-content: center;
            grid-template-columns: auto;
        }

        .vertical,
        .horizonal {
            grid-row: unset;
            grid-column: unset;
        }
    }

    .contacts {
        &__form{
            padding: 15px;
        }
        &__triggers {
            grid-template-columns: auto;
            row-gap: 30px;
        }
    }

}