.title{
    // font-weight: bold;
    color: #000000;
    font-size: 24px;
    line-height: 27px;
    // margin: auto;
    &_fz18{
        font-size: 18px;
    }
    &_fz36{
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
    }

    &_fz48{
        font-size: 48px;
        line-height: 54px;
    }
    &_fz64{
        font-size: 64px;line-height: 71px;
    }
    &-box{
        display: flex;
        justify-content: center;
        position: relative;
        @include divider_before;
    }
    &__section-title{
        padding: 0 20px 0 20px;
        z-index: 1;
        background-color: #fff;
    }
    &__section-subtitle{
        position: relative;
        @include divider_after;
    }


}